img{
    height: 150px; 
    width: 150px; 
    margin-right: 10px; 
    border: 1px solid grey; 
    border-collapse: collapse; 
}
		
td{
    width: 160px;
}

.hs{
    font-size: 20px;
}